<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cybercaelum.household_management.mapper.CommentMapper">

    <insert id="addComment" useGeneratedKeys="true" keyProperty="id">
        insert into comment (content, create_time, status, user_id, commented_user_id, comment_level, order_id,update_time)
        values (#{content}, #{createTime}, #{status}, #{userId}, #{commentedUserId}, #{commentLevel}, #{orderId},#{updateTime})
    </insert>

    <update id="updateComment">
        update comment
        <set>
            <if test="content != null">content = #{content},</if>
            <if test="commentLevel != null">comment_level = #{commentLevel},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        where id = #{id}
    </update>

    <select id="getCommentDetailById" resultType="org.cybercaelum.household_management.pojo.vo.CommentVO">
        select
            c.id,
            c.content,
            c.create_time as createTime,
            c.status,
            c.user_id as userId,
            u.username as username,
            u.profile_url as profileUrl,
            c.commented_user_id as commentedUserId,
            cu.username as commentedUsername,
            c.comment_level as commentLevel,
            c.order_id as orderId
        from comment c
        left join user u on c.user_id = u.id
        left join user cu on c.commented_user_id = cu.id
        where c.id = #{id}
    </select>

    <select id="getCommentsByCommentedUserId" resultType="org.cybercaelum.household_management.pojo.vo.CommentVO">
        select
            c.id,
            c.content,
            c.create_time as createTime,
            c.status,
            c.user_id as userId,
            u.username as username,
            u.profile_url as profileUrl,
            c.commented_user_id as commentedUserId,
            cu.username as commentedUsername,
            c.comment_level as commentLevel,
            c.order_id as orderId
        from comment c
        left join user u on c.user_id = u.id
        left join user cu on c.commented_user_id = cu.id
        where c.commented_user_id = #{commentedUserId} and c.status = 1
        order by c.create_time desc
    </select>

    <select id="getCommentsByUserId" resultType="org.cybercaelum.household_management.pojo.vo.CommentVO">
        select
            c.id,
            c.content,
            c.create_time as createTime,
            c.status,
            c.user_id as userId,
            u.username as username,
            u.profile_url as profileUrl,
            c.commented_user_id as commentedUserId,
            cu.username as commentedUsername,
            c.comment_level as commentLevel,
            c.order_id as orderId
        from comment c
        left join user u on c.user_id = u.id
        left join user cu on c.commented_user_id = cu.id
        where c.user_id = #{userId} and c.status = 1
        order by c.create_time desc
    </select>

</mapper>
