<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cybercaelum.household_management.mapper.OpenimBootMapper">
    <insert id="addBoot" keyProperty="id" useGeneratedKeys="true">
        insert into openim_boot (nick_name, boot_id, face_url, appMangerLevel) VALUES
        (#{nickName},#{bootId},#{faceUrl},#{appMangerLevel})
    </insert>
</mapper>