<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cybercaelum.household_management.mapper.OpenimGroupMapper">
    <insert id="insertGroup" keyProperty="id" useGeneratedKeys="true">
        insert into openim_group (recruitment_id, employer_id, employee_id, openim_group_id, status, group_type,create_time, update_time) VALUES
        (#{recruitmentId},#{employerId},#{employeeId},#{openimGroupId},#{status},#{groupType},#{createTime},#{updateTime})
    </insert>
</mapper>