<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cybercaelum.household_management.mapper.OrderMapper">
    <insert id="insertOrder" useGeneratedKeys="true" keyProperty="id">
        insert into `order` (
            price, order_time, recruitment_id, status, start_time, end_time,
            employer_id, employee_id, province_code, province_name, city_code, city_name,
            district_code, district_name, detail, total, days, order_number,
            pay_method, pay_status, cancel_reason, rejection_reason, cancel_time,
            payment_time, rejection_time, refund_time, cancel_type, held_amount,refund_number
        ) values (
                     #{price}, #{orderTime}, #{recruitmentId}, #{status}, #{startTime}, #{endTime},
                     #{employerId}, #{employeeId}, #{provinceCode}, #{provinceName}, #{cityCode}, #{cityName},
                     #{districtCode}, #{districtName}, #{detail}, #{total}, #{days}, #{orderNumber},
                     #{payMethod}, #{payStatus}, #{cancelReason}, #{rejectionReason}, #{cancelTime},
                     #{paymentTime}, #{rejectionTime}, #{refundTime}, #{cancelType}, #{heldAmount},#{refundNumber}
                 )
    </insert>

    <select id="history" resultType="org.cybercaelum.household_management.pojo.entity.Order">
        select * from `order`
        <where>
            (employer_id = #{userId} or employee_id = #{userId})
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        order by order_time desc
    </select>

    <update id="updateOrder">
        update `order`
        <set>
            <if test="price != null">price = #{price},</if>
            <if test="orderTime != null">order_time = #{orderTime},</if>
            <if test="recruitmentId != null">recruitment_id = #{recruitmentId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="employerId != null">employer_id = #{employerId},</if>
            <if test="employeeId != null">employee_id = #{employeeId},</if>
            <if test="provinceCode != null">province_code = #{provinceCode},</if>
            <if test="provinceName != null">province_name = #{provinceName},</if>
            <if test="cityCode != null">city_code = #{cityCode},</if>
            <if test="cityName != null">city_name = #{cityName},</if>
            <if test="districtCode != null">district_code = #{districtCode},</if>
            <if test="districtName != null">district_name = #{districtName},</if>
            <if test="detail != null">detail = #{detail},</if>
            <if test="total != null">total = #{total},</if>
            <if test="days != null">days = #{days},</if>
            <if test="orderNumber != null">order_number = #{orderNumber},</if>
            <if test="payMethod != null">pay_method = #{payMethod},</if>
            <if test="payStatus != null">pay_status = #{payStatus},</if>
            <if test="cancelReason != null">cancel_reason = #{cancelReason},</if>
            <if test="rejectionReason != null">rejection_reason = #{rejectionReason},</if>
            <if test="cancelTime != null">cancel_time = #{cancelTime},</if>
            <if test="paymentTime != null">payment_time = #{paymentTime},</if>
            <if test="rejectionTime != null">rejection_time = #{rejectionTime},</if>
            <if test="refundTime != null">refund_time = #{refundTime},</if>
            <if test="cancelType != null">cancel_type = #{cancelType},</if>
            <if test="heldAmount != null">held_amount = #{heldAmount},</if>
            <if test="refundNumber != null">refund_number = #{refundNumber}</if>
        </set>
        where id = #{id}
    </update>

    <select id="selectByStartTimeAndStatus" resultType="org.cybercaelum.household_management.pojo.entity.Order">
        SELECT * FROM `order`
        WHERE status = #{status}
          AND start_time &lt;= #{startDate}
    </select>

    <!-- 使用乐观锁更新订单支付状态（用于防止并发支付回调） -->
    <update id="updateOrderWithOptimisticLock">
        update `order`
        <set>
            <if test="price != null">price = #{price},</if>
            <if test="orderTime != null">order_time = #{orderTime},</if>
            <if test="recruitmentId != null">recruitment_id = #{recruitmentId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="employerId != null">employer_id = #{employerId},</if>
            <if test="employeeId != null">employee_id = #{employeeId},</if>
            <if test="provinceCode != null">province_code = #{provinceCode},</if>
            <if test="provinceName != null">province_name = #{provinceName},</if>
            <if test="cityCode != null">city_code = #{cityCode},</if>
            <if test="cityName != null">city_name = #{cityName},</if>
            <if test="districtCode != null">district_code = #{districtCode},</if>
            <if test="districtName != null">district_name = #{districtName},</if>
            <if test="detail != null">detail = #{detail},</if>
            <if test="total != null">total = #{total},</if>
            <if test="days != null">days = #{days},</if>
            <if test="orderNumber != null">order_number = #{orderNumber},</if>
            <if test="payMethod != null">pay_method = #{payMethod},</if>
            <if test="payStatus != null">pay_status = #{payStatus},</if>
            <if test="cancelReason != null">cancel_reason = #{cancelReason},</if>
            <if test="rejectionReason != null">rejection_reason = #{rejectionReason},</if>
            <if test="cancelTime != null">cancel_time = #{cancelTime},</if>
            <if test="paymentTime != null">payment_time = #{paymentTime},</if>
            <if test="rejectionTime != null">rejection_time = #{rejectionTime},</if>
            <if test="refundTime != null">refund_time = #{refundTime},</if>
            <if test="cancelType != null">cancel_type = #{cancelType},</if>
            <if test="heldAmount != null">held_amount = #{heldAmount},</if>
            <if test="refundNumber != null">refund_number = #{refundNumber}</if>
        </set>
        where id = #{id} and pay_status = #{payStatusCondition}
    </update>
</mapper>
