<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cybercaelum.household_management.mapper.ResumePictureMapper">
    <insert id="addResumePicture">
        insert into resume_picture (url, resume_id, create_time, user_id, status, update_time) VALUE
        <foreach collection="pictures" item="pt" separator=",">
            (#{pt.url},#{pt.resumeId},#{pt.createTime},#{pt.userId},#{pt.status},#{pt.updateTime})
        </foreach>
    </insert>

    <!-- 逻辑删除简历图片：将状态更新为0 -->
    <update id="deleteByResumeId">
        update resume_picture
        set status = 0, update_time = now()
        where resume_id = #{resumeId} and status = 1
    </update>
</mapper>