<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cybercaelum.household_management.mapper.ResumeMapper">
    <insert id="addResume" useGeneratedKeys="true" keyProperty="id">
        insert into resume (user_id, resume_data, create_time, update_time, visibility)
            VALUE (#{userId},#{resumeData},#{createTime},#{updateTime},#{visibility})
    </insert>

    <update id="updateResume">
        update resume
        <set>
            <if test="resumeData != null">resume_data = #{resumeData},</if>
            <if test="visibility != null">visibility = #{visibility},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        where id = #{id}
    </update>
</mapper>