<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "org.cybercaelum.household_management.mapper.UserMapper">
    <insert id="insertNewUser" useGeneratedKeys="true" keyProperty="id">
        insert into user (phone_number,username,password,create_time,status,role,profile_url)
            values (#{phoneNumber},#{username},#{password},#{createTime},#{status},#{role},#{profileUrl})
    </insert>
</mapper>